[defaults]
host_key_checking = False
timeout = 75
gather_timeout = 300
ansible_managed = "Ansible generated" 

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
ssh_args = -o ControlPath=/var/shm/control:%h:%p:%r
